<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# TITLE OF THE NOTEBOOK: Peer-graded assignment

## INTRODUCTION

In this notebook, I will present my peer-graded assignment. The assignment consists of twelve exercices:

**Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)**

**Exercise 3 - Create a markdown cell for an introduction. (1 pt)**

**Exercise 4 - Create a markdown cell to list data science languages. (3 pts)**

**Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)**

**Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)**

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)**

**Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)**

**Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)**

**Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)**

**Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)**

**Exercise 12 - Share your notebook through GitHub (3 pts)**

**Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)**

## List of data science languages

There are lots of data science languages nowadays. However, some of the most popular are:
- Python
- R
- SQL
- Julia
- Scala

## List of data science libraries

Among these languages we find special libraries that help data scientists work with data. For instance:
#### *Python*
##### Data Manipulation and Analysis
1. pandas
2. NumPy
3. PySpark
##### Machine Learning
1. scikit-learn
2. TensorFlow
3. PyTorch
##### Data Visualitation
1. Matplotlib
#### *R*
1. dplyr
2. tidyr
3. ggplot2
4. plotly
5. caret

## Table of Data Science tools

Here we will create a table with one of the most useful tools in Data Science:

Data Science Tool Type | Tools |
 -------------| ------ |
 Data Management | MySQL, PostgreSQL, MongoDB, Apache CouchDB, Apache Cassandra, Hadoop File System, Ceph, and elastic search|
 Data Integration and Transformation | Apache Airflow, KubeFlow, Apache Kafka, Apache Nifi, Apache SparkSQL, and NodeRED|
 Data Visualization | Pixie Dust, Hue, Kibana, and Apache Superset |
 Model Deployment | Apache PredictionIO, Seldon, Kubernetes, Redhat OpenShift, Mleap, TensorFlow Service, TensorFlow lite, and TensorFlow dot JS|
 Model Monitoring | ModelDB, Prometheus, IBM AI Fairness 360, IBM Adversarial Robustness 360 Toolbox, and IBM AI Explainability 360 |
 Code Asset Management | Git, Github, GitLab, and Bitbucket |

## Arithmetic expression examples

The main operations in arithmetics are the following:
##### Adition
5+3=8
##### Subtraction
5-3=2
##### Multiplication
5*3=15
##### Division
6/3=2
##### Exponentation
2**3=8

There is a prearranged order of these operations that follow the rule  PEMDAS. In which the order of operations is:
*Parentheses> Exponents> Multiplication and Division> Addition and Subtration*. For instance:

6 + 2 x (3^2 - 1) / 2 = 14

## Code Cell for multiplying and adding numbers

We are going to introduce a code that will enable us to multiply and add two numbers. The reader will have to run the code and introduce the numbers in the boxes below.

In [7]:
numb1=float(input())
numb2=float(input())
print("The multiplication of the given numbers is:", numb1*numb2)
print("The sum of the given numbers is:", numb1+numb2)

 23333
 24567898765

The multiplication of the given numbers is: 573242781883745.0
The sum of the given numbers is: 24567922098.0

## Code Cell for converting minutes into hours

In the next cell, we will receive an input of minutes and we will convert it into hours:

In [9]:
minutes=float(input())
print("The amount of minutes inputed are: ", minutes/60, "hours")

 60

The amount of minutes inputed are:  1.0 hours

## Objectives

The main objectives of the project are:
- Learn to use Markdown in Jupiter Notebooks
- Learn to create lists in Jupiter Notebooks
- Learn to create tables in Jupiter Notebooks
- Learn how to use code in Jupyter Notebooks
- Complete a peer-graded task in the course

## Author Name: Pablo Sierra